// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul {
  display: inline-block;
}


li {
  list-style: none;
}

.letter {
  display: flex;
  justify-content : center;
  align-items : center;
  width: 40px;
  height: 40px;
  margin: 3px;
  padding: 2px;
  background-color: #5B94D9;
  color: white;
}
